# eclipse files
.classpath
.project
.settings
.checkstyle
.factorypath
.pmd
.pmdruleset.xml
.eclipse-pmd
.ruleset

# Maven files
target/
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

/metaschema.xpr
/metaschema-schema-generator/schema.out.xsd

# NodeJS
node_modules/
package.json
package-lock.json
/metaschema-schema-generator/test-schemagen
