# eclipse files
.classpath
.project
.settings
.checkstyle
.factorypath
.pmd
.pmdruleset.xml
.eclipse-pmd
.ruleset
.apt_generated/
.apt_generated_tests/

# Maven files
target/
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# oXygen files
/metaschema.xpr

# NodeJS
node_modules/
package.json
package-lock.json

# testing artifacts
/metaschema-schema-generator/schema.out.xsd
/metaschema-schema-generator/test-schemagen
/metaschema-schema-generator/oscal-complete_schema.xsd
/metaschema-schema-generator/oscal-complete_schema.json
velocity.log
.fbExcludeFilterFile
