.classpath
.project
.settings
.checkstyle
.factorypath
.pmd
.pmdruleset.xml
.eclipse-pmd
target/
/metaschema.xpr
/metaschema-schema-generator/schema.out.xsd
pom.xml.releaseBackup
release.properties

# NodeJS
node_modules/
package.json
package-lock.json