This module provides a [Java API](apidocs/index.html) using Metaschema information. This API allows for the full Metaschema model to be explored in code.

The following dependency can be added to your POM to use this library.

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
</dependency>
```
